pipeline/GetToken.json
{
	"name": "GetToken",
	"properties": {
		"activities": [
			{
				"name": "Copy data1_copy2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"additionalHeaders": "Accept-Encoding: gzip,deflate\nContent-Type: text/xml;charset=UTF-8\nSOAPAction: #StartSession\nConnection: Keep-Alive\nContent-Type: application/xml",
							"requestBody": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap:Body>\n    <StartSessionIn>\n      <user>novatechcdiqsv</user>\n      <pass>6kTYpTY7#^W5</pass>\n    </StartSessionIn>\n  </soap:Body>\n</soap:Envelope>",
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['soap:Envelope']['soap:Body']['snp:StartSession']['return']"
								},
								"sink": {
									"path": "$['soap:Envelope']['soap:Body']['snp:StartSession']['return']"
								}
							},
							{
								"source": {
									"path": "$['soap:Envelope']['soap:Body']['snp:StartSession']['access_key']"
								},
								"sink": {
									"path": "$['soap:Envelope']['soap:Body']['snp:StartSession']['access_key']"
								}
							},
							{
								"source": {
									"path": "$['soap:Envelope']['soap:Body']['soap:@encodingStyle']"
								},
								"sink": {
									"path": "$['soap:Envelope']['soap:Body']['soap:@encodingStyle']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Xml1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "cpy_data_start_time",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1_copy2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "cpy_data_end_time",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('cpy_data_start_time')",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@variables('cpy_data_end_time')",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "token",
					"value": {
						"value": "@activity('Lookup1').output.effectiveIntegrationRuntime",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"token": {
				"type": "String"
			},
			"cpy_data_start_time": {
				"type": "String"
			},
			"cpy_data_end_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Magaya"
		},
		"annotations": []
	}
}